

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


   body {
            background-image: linear-gradient(to bottom right, #ecebde, #ebc2c2);
            background-attachment: fixed;
            padding-top: 65px;
        }

     